PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/chatapp
JWT_SECRET=7d
NODE_ENV=development

PUSHER_APP_ID=2124562
PUSHER_KEY=1095eb6e951e9fb0e5dc
PUSHER_SECRET=ddcb8fb47e0ff3b78cd4
PUSHER_CLUSTER=ap2

AGORA_APP_ID=your-agora-app-id
APP_CERTIFICATE=your-agora-app-certificate
FRONTEND_URL=http://localhost:5173


